spectrometer/Debug/*
spectrometer/Drivers/*
spectrometer/.settings/*
spectrometer/.cproject
spectrometer/.mxproject
spectrometer/.project
spectrometer/spectrometer\ Debug.launch
spectrometer/STM32F401CDUX_FLASH.ld
spectrometer/STM32F401CDUX_RAM.ld
spectrometer/USB_DEVICE
spectrometer/Middlewares

