spectrometer/Debug/*
spectrometer/Drivers/*
spectrometer/.settings/*
spectrometer/.cproject
spectrometer/.mxproject
spectrometer/.project
spectrometer/spectrometer\ Debug.launch
spectrometer/STM32F401CEUX_FLASH.ld
spectrometer/STM32F401CEUX_RAM.ld

spectrometer/Core/*
!spectrometer/Core/Src
spectrometer/Core/Src/*
!spectrometer/Core/Src/main.c


